*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  display: flex;
  margin:0;
  justify-content: center;
  align-items: center;
  background-color:#FBCEB1;
  overflow-x: hidden;

}


.expenseTracker{
  /* background-color:green; */
  background-image: url(../public/138958.jpg);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  /* min-width: 900px; */
  height: 100%;
  max-height: 600px;
  padding: 15px;
  color: brown;
  border-radius: 8px;

}
.heading{
  margin: 8px;
  padding: 10px 10px 10px 0;
}
.heading img{
  width:100%;
  max-width: 250px;
  height: 100%;
  max-height: 210px;
  margin:10px 0 0 10px;
}
.expenseForm{
  /* background-color: white; */
  backdrop-filter: blur(5px);
  border: 2px solid brown;
  color:white;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  max-height: 220px;
  height: 100%;
  text-align: center;
}
input{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid brown;
  border-radius: 8px;
  text-align:start;
  padding: 5px;
  margin-top: 10px;

}

.expenseForm button{
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border:none;
  cursor: pointer;
  background-color: brown;
  color: white;
  font-size: 14px;
  margin-top: 10px;  
}
.total{
  /* background-color: white; */
  backdrop-filter: blur(5px);
  border: 2px solid green;;
  color:green;
  border-radius: 8px;
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  margin-left: 20px;
  max-height: 540px;
  overflow-y: auto;
}

.list{
  display: grid;
  grid-template-columns: 2fr 100px 60px; /* 👈 fixed columns */

  justify-content:space-between;
  align-items: center;
  padding:10px;
  margin:8px;
  border-radius: 8px;
  /* background-color: brown; */
  background:rgba(60, 179, 113,0.2);

  backdrop-filter: blur(5px);
  color: green;
  font-size: 14px;
  font-weight: bold;
  /* overflow: hidden; */
}
.list span:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 👈 THIS IS KEY */
}

/* .list button{
  background-color: red;
  width: 40px;
  height: 30px;
} */
.title {
  flex: 2;              /* takes more space */
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 👈 handles long text */
}
.amount {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.list button{
  flex:0;
  background:none;
  border: none;
  cursor: pointer;
}
.list i{
  font-size: 24px;
}
.logo{
  text-align: center;
  padding: 20px;
  margin-top: 30px;

 
}
.logo img{
  width:100%;
  max-width: 340px;
  /* height: 30%; */
  height: 100%;
  border-radius: 8px;
}
.logo p{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* @media (min-width: 768px) {
  .expenseTracker{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
  }
} */


/* MOBILE SCREEN */

@media (max-width: 500px) {
  body{
    background-color: #8FBC8B;
    margin: 0;
    padding: 0;
  }

  .expenseTracker{
    display: block;
    text-align: center;
    /* margin: 0 5px 5px 5px; */
    /* padding: 2px; */
  
  }

  .total{
    padding-top:10px;
    margin: 10px 0 0 5px;
    width: 100%;
  
  }
  

}